body {
  font-family: "Open Sans", sans-serif;
  cursor: url('cursor3.png'),pointer;
}
a {
  text-decoration: none;
  color: #7cc576;
}
a:hover {
  color: #9ed49a;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}
#header {
  height: 90px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
}
#header .logo h1 {
  font-size: 28px;
  margin: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}
#header .logo h1 a, #header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}
#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}
#hero {
  width: 100%;
  height: 100vh;
  background-image: url('../image/back10.jpg');
  position: relative;
  background-size: cover;

}
#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}
#hero .hero-logo {
  margin-bottom: 30px;
}
#hero h1 {
  margin: 0 0 30px 30%;
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
  color: #fff;
}
#hero h2 {
  color: #ffffff;
  margin: 0 0 30px 30%;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
.fade-up{
  font-size: 20px;
  color: #ffffff;
}
section {
  padding: 60px 0;
  overflow: hidden;
}
.section-bg {
  background-color: whitesmoke;
}
.section-title {
  text-align: center;
  padding-bottom: 40px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-bottom: 0;
  color: #151515;
}
.section-title p {
  margin-bottom: 0;
  color: #aeaeae;
}
.about .image {
  padding: 20px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}
.about .content ul {
  list-style: none;
  padding: 0;
}
.about .content ul li {
  padding-bottom: 10px;
  display: flex;
  align-items: flex-start;
}
.about .content ul i {
  font-size: 24px;
  padding: 2px 6px 0 0;
  color: #7cc576;
}
.services .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 10px 60px;
}
.services .icon-box i {
  font-size: 48px;
  float: left;
  color: #7cc576;
}
.services .icon-box p {
  font-size: 15px;
  color: #959595;
  margin-left: 60px;
}
.services .image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}
.btn1{
  text-decoration: none;
  color: #000000;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 30px;
}




